<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>网站首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../public/css/weui.css"/>
    <link rel="stylesheet" href="../public/css/weuix.css"/>
</head>
<body>
<div id="app">
    <div class="page-hd">

    </div>
    <div class="weui-tab tab-bottom ">
        <div class="weui-tabbar">
            <a href="javascript:;" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <i class="icon icon-27 f27 weui-tabbar__icon"></i>
                        <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                    </span>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                <i class="icon icon-28 f27 weui-tabbar__icon"></i>
                <p class="weui-tabbar__label">案例</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <i class="icon icon-29 f27 weui-tabbar__icon"></i>
                        <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
                    </span>
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script>


</script>
</html>